* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

#main-content {
    width: 100%;
    background-color: #06151c;
    display: flex;
    justify-content: center;
}

#content-witdh {
    width: 100%;
    max-width: 1440px;
    min-height: 76dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#empty {
    color: white;
    align-items: center;
}

/* #region header */

#title {
    @media (max-width: 600px) {
        display: none;
    }
}

#search-button {
    all: unset;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    padding: 2.5px 4px;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    }
}

#main-header {
    background-color: #082129;
    display: flex;
    justify-content: center;
}

#header-width {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
    width: 100%;
    height: 12dvh;
    color: white;

    @media (max-width: 700px) {
        padding: 0px 50px;
    }

    @media (max-width: 480px) {
        padding: 0px 24px;
    }
}

input {
    height: 24px;
    width: 200px;
    color: black;
    font-weight: bold;
    padding: 4px;

    @media (max-width: 400px) {
        width: 150px;
    }
}

#home-BTN {
    &:hover {
        cursor: pointer;
        filter: drop-shadow(5px 5px 10px white);
    }
}

#icon-section {
    height: 12dvh;
    gap: 10px;
    display: flex;
    align-items: center;
}

/* #endregion */

/* #region pokemon-card */

.poke-card {
    width: 100%;
}

.pokemon {
    height: 200px;
    width: 180px;
    margin: 24px;
    border-radius: 8px;
    padding: 8px;
    background-color: #073e51;
    color: white;
    transition: transform 3s ease-in-out;

    &:hover .poke-main-img {
        transform: scale(1.2);
    }

    &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    }
}

.poke-main {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.poke-main-img {
    width: 90px;
    height: auto;
    align-self: center;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}

.type {
    margin-left: 4px;
}

.poke-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0px;

    p {
        font-weight: bold;
    }
}

/* #endregion */

/* #region loadingspinner */

#loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.loader {
    position: fixed;
    z-index: 10;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* #endregion */

/* #region dialog */

.dialog {
    z-index: 15;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 16px;
    height: 600px;
    width: 400px;
    background-color: #073e51;
    color: white;
    border: 2px solid black;

    &::backdrop {
        background-color: rgba(6, 21, 28, 0.7);
        backdrop-filter: blur(8px);
    }

    .main-data {
        width: 100%;
    }
}

.dialog-img {
    width: 100;
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.5));
}

.poke-img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    border-radius: 16px;
}

.poke-element {
    display: flex;
    justify-content: center;
    height: 16px;
}

.poke-id-name {
    display: flex;
    justify-content: space-between;
}

.poke-table {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;

    th {
        text-align: left;
    }

    td {
        text-align: right;
    }
}

.poke-data {
    width: 100%;
    margin-top: 30px;
}

.switch-pokemon {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}

.dialog-prev-next {
    all: unset;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.25));
        transform: scale(1.2);
    }
}

.no-scroll {
    overflow: hidden;
    width: 100%;
}

/* #endregion */

#main-footer {
    width: 100%;
    height: 12dvh;
    background-color: #082129;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-btn {
    all: unset;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    }
}
